APScheduler==3.3.1
Flask==0.12.2
Flask-Cors==3.0.3
Flask-SQLAlchemy==2.2
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.1.1
html5lib==0.999999999
idna==2.5
ipaddress==1.0.18
ipython-genutils==0.2.0
isort==4.2.15
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
jupyter-core==4.3.0
lazy-object-proxy==1.3.1
lxml==4.6.3
MarkupSafe==1.0
matplotlib==2.0.2
mccabe==0.6.1
nbformat==4.3.0
numpy==1.13.0
pandas==0.20.2
SQLAlchemy==1.1.14
subprocess32==3.2.7
tinycss2==0.5
traitlets==4.3.2
tzlocal==1.4
urllib3==1.21.1
WeasyPrint==0.38
webencodings==0.5.1
Werkzeug==0.12.2
wrapt==1.10.10
